/** Toggle */
.ios .v-toggle {
  width: 51px;
}
.ios .v-toggle--checked.v-toggle {
  background: var(--ios-green);
  border-color: var(--ios-green);
}
.ios .v-toggle .v-toggle__handle {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);
}
.ios .v-toggle--checked .v-toggle__handle {
  transform: translate3d(20px, 0, 0);
}
.ios .v-toggle::before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #e6e6e6;
  transition: opacity 0.3s;
}
.ios .v-toggle--checked::before {
  opacity: 0;
}
.ios .v-toggle::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 20px;
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s;
}
.ios .v-toggle--checked::after {
  transform: scale3d(0, 0, 0);
  opacity: 1;
}


/** Range Slider */
.ios .v-range-slider input::-webkit-slider-runnable-track {
  height: 1px;
}
.ios .v-range-slider input::-webkit-slider-thumb:before {
  background: var(--ios-blue);
  height: 1px;
}
.ios .v-range-slider input::-webkit-slider-thumb {
  box-shadow: 0 0 1px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,0.2);
}
