/** Toggle */
.ios .v-toggle {
  width: 51px;
}
.ios .v-toggle--checked.v-toggle {
  background: var(--ios-green);
  border-color: var(--ios-green);
}
.ios .v-toggle .v-toggle__handle {
  box-shadow: 0 2px 7px rgba(0, 0, 0, 0.35), 0 1px 1px rgba(0, 0, 0, 0.15);
}
.ios .v-toggle--checked .v-toggle__handle {
  transform: translate3d(20px, 0, 0);
}
.ios .v-toggle::before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  background: #e6e6e6;
  transition: opacity 0.3s;
}
.ios .v-toggle--checked::before {
  opacity: 0;
}
.ios .v-toggle::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 20px;
  transform: scale3d(1, 1, 1);
  transition: transform 0.3s;
}
.ios .v-toggle--checked::after {
  transform: scale3d(0, 0, 0);
  opacity: 1;
}

.android .v-toggle,
.android .v-toggle.v-toggle--checked {
  border: 0;
  background: transparent;
  width: 44px;
}
.android .v-toggle::before {
  content: '';
  position: absolute;
  left: 0;
  top: 4px;
  width: 100%;
  height: 14px;
  border-radius: 10px;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: background 0.15s;
}
.android .v-toggle--checked::before {
  background: rgba(0, 154, 87, 0.5);
}
.android .v-toggle::after {
  display: none;
}
.android .v-toggle .v-toggle__handle {
  width: 22px;
  height: 22px;
  background: #f0f0f0;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.4);
  transition-duration: .15s;
}
.android .v-toggle--checked .v-toggle__handle {
  transform: translate3d(22px, 0, 0);
  background: var(--android-green);
}
.android .v-toggle .v-toggle__handle::before {
  display: block;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  content: '';
  background: rgba(0, 0, 0, 0);
  transform: scale3d(1, 1, 1);
  transition: transform .15s;
}
.android .v-toggle:active .v-toggle__handle::before {
  background: rgba(0, 0, 0, 0.2);
  transform: scale3d(2.8, 2.8, 2.8);
}
.android .v-toggle--checked:active .v-toggle__handle::before {
  background: rgba(0, 154, 87, 0.2);
}

/** Range Slider */
.ios .v-range-slider input::-webkit-slider-runnable-track {
  height: 1px;
}
.ios .v-range-slider input::-webkit-slider-thumb:before {
  background: var(--ios-blue);
  height: 1px;
}
.ios .v-range-slider input::-webkit-slider-thumb {
  box-shadow: 0 0 1px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,0.2);
}

.android .v-range-slider input::-webkit-slider-thumb:before {
  background: var(--android-green);
  top: 9px;
}
.android .v-range-slider input::-webkit-slider-thumb {
  background: var(--android-green);
  border: 0;
  box-shadow: none;
  width: 22px;
  height: 22px;
  margin-top: -9px;
}
