.v-navbar {
  display: flex;
  padding: 5px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid #ddd;
  line-height: 43px;
  justify-content: space-between;
  align-content: center;
}
.v-navbar .v-navbar_title {
  flex: 1;
  text-align: center;
  align-items: center;
  font-size: 17px;
  font-weight: 500;
}
.v-navbar .v-navbar_left {
  align-items: flex-start;
  margin: auto;
}
.v-navbar .v-navbar_right {
  align-items: flex-end;
  margin: auto;
}
.v-navbar .v-button {
  padding: 4px 12px;
  font-weight: 400;
  -webkit-font-smoothing: initial;
}
