label.v-radio,
.v-radio label {
  -webkit-tap-highlight-color: transparent;
}
.v-radio {
  vertical-align: middle;
}
.v-radio input {
  -webkit-appearance: none;
  margin: 0 8px 0 2px;
  line-height: 1;
  outline: none;
  border: none;
  background: none;
  vertical-align: middle;
}
.v-radio input:before {
  position: relative;
  display: inline-block;
  content: '';
  width: 1em;
  height: 0.4em;
  border: 2px solid #666;
  border-top: 0;
  border-right: 0;
  transform: rotate3d(0, 0, 1, -45deg) translate3d(4px, 0, 0);
  opacity: 0.18;
}
.v-radio input:checked:before {
  opacity: 1;
}

/* radio group */
ul.v-radio {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.v-radio li {
  border-bottom: 1px solid #ddd;
  margin-left: 2em;
  padding: 0.6em 0 0.4em;
}
.v-radio li:last-of-type {
  border-bottom: 0;
}
.v-radio li input {
  margin-left: -2.2em;
}
